.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  border-top: 1px solid #eaeaea;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem 0;
  max-width: 600px;
  justify-content: center;
}

.form label {
  display: none;
}

.form input[type="text"] {
  border: 1px solid #eaeaea;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  width: 20rem;
}

.form input[type="text"]:focus {
  outline: none;
  border-color: gray;
  box-shadow: 0 2px 5px #eaeaea;
}

.search {
  position: relative;
}

.closeIcon {
  position: absolute;
  top: 30%;
  right: 2%;
  cursor: pointer;
}

.form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.dropdown {
  margin-bottom: 1rem;
}

.dropdown select {
  padding: 0.2rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.videoPlayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 700px;
  list-style: none;
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 850px;
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.grid img {
  max-width: 100%;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  height: 380px;
  position: relative;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.cardInfo {
  font-size: 0.8rem;
  float: bottom;
  position: absolute;
  bottom: 0;
}

.video-player {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 850px;
  list-style: none;
  padding: 0;
  max-width: 100%;
  margin-left: 0;
}

.paginationBtns {
  width: 80%;
  height: 2rem;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: 0;
  max-width: 800px;
  margin-top: 2rem;
}

.paginationBtns a {
  padding: 0.6rem;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  cursor: pointer
}

.paginationBtns a:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.paginationActive a {
  color: #0070f3;
  border-color: #0070f3;
}

@media (max-width: 650px) {
  .previousBtn,
  .nextBtn {
    display: none;
  }
  .paginationBtns {
    width: 100%;
    font-size: 1.2rem;
    justify-content: space-evenly;
  }
}

@media (max-width: 550px) {
  .grid {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
}
